<header class="nav-wrap">
  <nav class="nav container">
    <a href="/" class="nav__logo">
      <img src="/images/logo.jpeg" alt="Half Fried" class="nav__logo-img" />
    </a>
    <button class="nav__burger" id="navBurger" aria-label="Toggle menu">
      <span></span><span></span><span></span>
    </button>
    <ul class="nav__links" id="navLinks">
      <li><a href="/" class="nav__link">Home</a></li>
      <li><a href="/menu" class="nav__link">Menu</a></li>
      <li><a href="/stores" class="nav__link">Find Us</a></li>
      <li><a href="/about" class="nav__link">Our Story</a></li>
    </ul>
  </nav>
</header>
